/* .wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.navbar{
    img{
        height: 100px;
        width: 200px;
        margin-left: 90px;

    }
} */
.ratio{
    display: flex;
    margin: 0 auto;
    /* width: 900px; */
    height: 50vh;
    margin-top: 20px;
}